.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5%;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: tomato;
}

.subtitle {
  font-size: 13px;
  color: #444;
  margin-top: -4px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
